GoldNet.JXKP/Service References/ServiceReference1/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="doSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doSearchSoapIn">
    <wsdl:part name="parameters" element="tns:doSearch" />
  </wsdl:message>
  <wsdl:message name="doSearchSoapOut">
    <wsdl:part name="parameters" element="tns:doSearchResponse" />
  </wsdl:message>
  <wsdl:message name="doSearchHttpGetIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="doSearchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="doSearchHttpPostIn">
    <wsdl:part name="keyword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="doSearchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="UserServiceSoap">
    <wsdl:operation name="doSearch">
      <wsdl:input message="tns:doSearchSoapIn" />
      <wsdl:output message="tns:doSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserServiceHttpGet">
    <wsdl:operation name="doSearch">
      <wsdl:input message="tns:doSearchHttpGetIn" />
      <wsdl:output message="tns:doSearchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserServiceHttpPost">
    <wsdl:operation name="doSearch">
      <wsdl:input message="tns:doSearchHttpPostIn" />
      <wsdl:output message="tns:doSearchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoap" type="tns:UserServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doSearch">
      <soap:operation soapAction="http://tempuri.org/doSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceSoap12" type="tns:UserServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doSearch">
      <soap12:operation soapAction="http://tempuri.org/doSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceHttpGet" type="tns:UserServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="doSearch">
      <http:operation location="/doSearch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceHttpPost" type="tns:UserServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="doSearch">
      <http:operation location="/doSearch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="UserServiceSoap" binding="tns:UserServiceSoap">
      <soap:address location="http://localhost:63598/WebService/UserService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceSoap12" binding="tns:UserServiceSoap12">
      <soap12:address location="http://localhost:63598/WebService/UserService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpGet" binding="tns:UserServiceHttpGet">
      <http:address location="http://localhost:63598/WebService/UserService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserServiceHttpPost" binding="tns:UserServiceHttpPost">
      <http:address location="http://localhost:63598/WebService/UserService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>